.alldoctors_block {
    margin: 10px;
    background-color: rgb(240, 248, 192);
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: bolder;
}

.alldoctors_wrapper {
    display: flex;
    flex-wrap: wrap;
}